BOT_TOKEN=xxxxxxxx
MANAGER_IDS=11111111,22222222
SUPPORT_USER_ID=33333333
SUPPORT_USERNAME=username_techsupport
ONEC_URL=http://server/erp/hs/BotAPI/chz_turnover
DB_PATH=./data/bot.sqlite3
LOG_PATH=./logs/bot.log
